doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jetzabel Cisneros
                span.d-none.d-lg-block
                    .image-wrapper
                        img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='https://pbs.twimg.com/profile_images/1421046483676241921/cMbGnPBm_400x400.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Info
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experiencia
                    //-
                        li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Educacion
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#habilidades') Habilidades
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Intereses
                    //-
                        li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Premios

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jetzabel 
                        span.text-primary Cisneros
                    .subheading.mb-2
                        i.fas.fa-globe-europe
                        | Barcelona 
                    .subheading.mb-2
                        | Email: 
                        a(href='mailto:name@email.com') jetzabel@gmail.com
                    .subheading.mb-5
                        | Twitter:
                        a(href='https://www.twitter.com/ms_leeloo', target="_blank") @ms_leeloo
                    .subheading.mb-2
                        | Retocadora / Fotógrafa
                    .subheading.mb-5
                        a(href='https://www.jetzstudio.com', target="_blank") www.jetzstudio.com
                    .social-icons
                        a.social-icon(href='https://github.com/JCJetz', target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='https://www.twitter.com/ms_leeloo', target="_blank")
                            i.fab.fa-twitter
                        a.social-icon(href='#!')
                            i.fab.fa-linkedin-in

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experiencia

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 JETZSTUDIO PHOTOGRAPHY - BARCELONA.
                            .subheading.mb-3 FOTÓGRAFA / RETOCADORA
                            li
                                span.fa-li
                                    i.fas.fa-star
                                | Fotografía y retoque de moda. Retratos corporativos. Fotografía infantil / catálogos. Workshops fotográficos para agencias de modelos.
                            p
                            li
                                span.fa-li
                                    i.fas.fa-star  
                                | JetzLove - Fotografía para eventos nupciales. 

                            p

                            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js")
                            script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js")
                            .carousel.slide.carousel-fade(data-ride='carousel' data-interval='2400')
                                ol.carousel-indicators
                                    li.active(data-target='#carousel' data-slide-to='0')
                                    li(data-target='#carousel' data-slide-to='1')
                                .carousel-inner
                                    .carousel-item.active
                                        .d-none.d-lg-block
                                            .slide-box
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2016/01/Boda-Anna-5022-2-1024x682.jpg' alt='Second slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2016/01/Boda-Anna-5102-750x500.jpg' alt='Second slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2016/01/0008-Anna-5001-1024x682.jpg' alt='Second slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2016/01/Boda-Anna-5014-2-720x555.jpg' alt='Second slide')
                                    .carousel-item
                                        .d-none.d-lg-block
                                            .slide-box
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_0196-Done-K1600px2-e1418675537527-720x555.jpg' alt='Second slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_0098-Edit1600px-749x500.jpg' alt='First slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_0158-Done1600px1-749x500.jpg' alt='First slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_0553-EditK21600px-749x500.jpg' alt='Second slide')
                                    .carousel-item
                                        .d-none.d-lg-block
                                            .slide-box
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_9363-Edit21600px-720x555.jpg' alt='First slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_9122-Edit-Edit1600px-720x555.jpg' alt='First slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_9366-Done1600px-720x480.jpg' alt='First slide')
                                                img(src='https://www.jetzlove.com/wp-content/uploads/2014/03/MG_9195-Done1600px-749x500.jpg' alt='First slide')
                                
                                //- Quito controles porque no puedo usar 'slide'.. crea un espacio en blanco y no se arreglarlo :(
                                    se queda así de momento

                                    a.carousel-control-prev(href='#carousel' role='button' data-slide='prev')
                                        span.carousel-control-prev-icon(aria-hidden='true')
                                        span.sr-only Previous
                                    a.carousel-control-next(href='#carousel' role='button' data-slide='next')
                                        span.carousel-control-next-icon(aria-hidden='true')
                                        span.sr-only Next

                        .flex-shrink-0
                            span.text-primary 2016 - 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 BOURBAKI PHOTOGRAPHY - BARCELONA.
                            .subheading.mb-3 FOTÓGRAFA / RETOCADORA / ESTILISTA
                            li
                                span.fa-li
                                    i.fas.fa-star
                                | Fotografía, dirección artística, scouting, negociación de localizaciones y estilismos, organización de casting.
                            p
                            li
                                span.fa-li
                                    i.fas.fa-star    
                                | Coordinación de equipos, captura, archivado y retoque digital. Publicación web y entrega / seguimiento del producto final.
                            p 
                            
                            .carousel.slide.carousel-fade(data-ride='carousel' data-interval='4000')
                                ol.carousel-indicators
                                    li.active(data-target='#carousel' data-slide-to='0')
                                    li(data-target='#carousel' data-slide-to='1')
                                .carousel-inner
                                    .carousel-item.active
                                        .d-none.d-lg-block
                                            .slide-box
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/1.jpg' alt='First slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/2.jpg' alt='First slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/3.jpg' alt='First slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/4.jpg' alt='First slide')
                                    .carousel-item
                                        .d-none.d-lg-block
                                            .slide-box
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/5.jpg' alt='Second slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/6.jpg' alt='Second slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/7.jpg' alt='Second slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/8.jpg' alt='Second slide')
                                    .carousel-item
                                        .d-none.d-lg-block
                                            .slide-box
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/9.jpg' alt='Third slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/10.jpg' alt='Third slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/11.jpg' alt='Third slide')
                                                img(src='https://www.jetzstudio.com/wp-content/uploads/carousel/12.jpg' alt='Third slide')

                        .flex-shrink-0
                            span.text-primary 2010 - 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 MHOMS MODEL MANAGEMENT - BARCELONA.
                            .subheading.mb-3 BOOKER / ONLINE ASSET MANAGER
                            li
                                span.fa-li
                                    i.fas.fa-star
                                | Organización de agenda de trabajos y negociación de tests. Realización, edición y publicación de video-books/castings.
                            p
                            li
                                span.fa-li
                                    i.fas.fa-star    
                                | Realización y seguimiento de newslettter HTML mensual. Actualización de contenido web.
                            p
                        .flex-shrink-0
                            span.text-primary 2008 - 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 D.W - PINEDA DE MAR, BARCELONA
                            .subheading.mb-3 GERENTE
                            li
                                span.fa-li
                                    i.fas.fa-star
                                | Acondicionamiento de local para tienda de ropa de gama alta, establecimiento y ejecución diaria del negocio, pedidos, showrooms. 
                            p 
                            li
                                span.fa-li
                                    i.fas.fa-star    
                                | Organización y coordinación de desfile benéfico bi-anual.

                        .flex-shrink-0
                            span.text-primary  2005 - 2010

            hr.m-0
        
            // Habilidades
            section#habilidades.resume-section
               .resume-section-content
                    h2.mb-5 Habilidades

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            //h3.mb-0 RETOQUE Y EDICIÓN
                            .subheading.mb-1 RETOQUE EDICIÓN
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Retoque y archivo digital (Adobe Photoshop / Adobe Lightroom)
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Fotografía de estudio (Canon/Nikon DSLR, Profoto, Bowens)
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Edición de vídeo (Final Cut, After Effects, Premiere Pro)
                            p
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            //h3.mb-0 RETOQUE Y EDICIÓN
                            .subheading.mb-3 OTROS
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Administración web (Wordpress CMS, HTML, CSS)
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Social media management (Facebook,Twitter,Instagram,Discord)
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Contabilidad y Ofimática (ContaSol / Facturaplus, MS Office)
                            p
                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            //h3.mb-0 RETOQUE Y EDICIÓN
                            .subheading.mb-3 IDIOMAS
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Castellano:    Materno.
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Inglés:        Hablado y escrito, nivel medio-alto.
                            li
                                span.fa-li
                                    i.fas.fa-plus
                                | Catalán:       Hablado nivel medio-alto, escrito nivel medio.

                            p
                    
                    //.subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            // img(src="assets/img/24photoshop.png")
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item

            hr.m-0

            // Caracter e Intereses
            section#interests.resume-section
                .resume-section-content
                    .resume-section-intereses
                        h2.mb-5 Intereses
                        
                            
                        p.mb-0
                            | Me gusta aprender y descubrir cosas nuevas. La historia, la ciencia, la mecánica, caminar descalza, la miel, las pelis de miedo..
                            | He descubierto los NFTs hace poco y estoy aprendiendo sobre blockchains, contratos inteligentes, web3 y activos digitales en general.
                            | En mi tiempo libre suelo nadar, leer e ir a la playa, ya que vivo muy cerquita y es algo que disfruto mucho! 
                        p
                        p     Aprendiz de desarrolladora. Intentando coger algo de soltura usando git, bootstrap y node/npm.  
                    .resume-section-caracter
                        .subheading.mb-3 Caracter
                        ul.fa-ul.mb-0
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Activa, sociable y dinámica. Confortable trabajando en equipo y por mi cuenta.
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Resolutiva. Disfruto adquiriendo y aplicando nuevos conocimientos.
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Polivalente. Capacitada para afrontar tanto aspectos técnicos como la atención al cliente.
                            li
                                span.fa-li
                                    i.fas.fa-check
                                | Soy alegre y afable por naturaleza. 
            
            //- Premios
                section#awards.resume-section
                    .resume-section-content
                        h2.mb-5 Premios
                        ul.fa-ul.mb-0
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Google Analytics Certified Developer
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Mobile Web Specialist - Google Certification
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 1
                                sup st 
                                | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 1
                                sup st 
                                | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 2
                                sup nd 
                                | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 1
                                sup st 
                                | Place - James Buchanan High School - Hackathon 2006
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 3
                                sup rd 
                                | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')