doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Jetzabel Cisneros
                span.d-none.d-lg-block
                    .image-wrapper
                        img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='https://pbs.twimg.com/profile_images/1421046483676241921/cMbGnPBm_400x400.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') Info
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experiencia
                    //-
                        li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Educacion
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Habilidades
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Intereses
                    //-
                        li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Premios

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Jetzabel 
                        span.text-primary Cisneros
                    .subheading.mb-2
                        i.fas.fa-globe-europe
                        | Barcelona |
                        i.fas.fa-phone 
                        | 656718856
                    .subheading.mb-2
                        | Email: 
                        a(href='mailto:name@email.com') jetzabel@gmail.com
                    .subheading.mb-5
                        | Twitter:
                        a(href='https://www.twitter.com/ms_leeloo', target="_blank") @ms_leeloo
                    .subheading.mb-2
                        | Retocadora / Fotógrafa
                    .subheading.mb-5
                        a(href='https://www.jetzstudio.com', target="_blank") www.jetzstudio.com
                    .social-icons
                        a.social-icon(href='https://github.com/JCJetz', target='_blank')
                            i.fab.fa-github
                        a.social-icon(href='https://www.twitter.com/ms_leeloo', target="_blank")
                            i.fab.fa-twitter
                        a.social-icon(href='#!')
                            i.fab.fa-linkedin-in

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experiencia

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 JETZSTUDIO PHOTOGRAPHY - BARCELONA.
                            .subheading.mb-3 FOTÓGRAFA / RETOCADORA
                            p
                                | Fotografía y retoque de moda. Retratos corporativos. Fotografía infantil / catálogos. Workshops fotográficos para agencias de modelos.
                                | JETZLOVE PHOTOGRAPHY  - Barcelona. Fotografía para eventos nupciales. 
                        .flex-shrink-0
                            span.text-primary 2016 - 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 BOURBAKI PHOTOGRAPHY - BARCELONA.
                            .subheading.mb-3 FOTÓGRAFA / RETOCADORA / ESTILISTA
                            p
                                | Scouting, negociación de localizaciones y estilismos, organización de casting.
                                | Coordinación de equipos, captura, archivado y retoque digital. Publicación web y entrega / seguimiento del producto final.
                        .flex-shrink-0
                            span.text-primary 2010 - 2016

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 MHOMS MODEL MANAGEMENT - BARCELONA.
                            .subheading.mb-3 BOOKER / ONLINE ASSET MANAGER
                            p
                                | Organización de agenda de trabajos y negociación de tests. Realización, edición y publicación de video-books/castings.
                                | Realización y seguimiento de newslettter HTML mensual. Actualización de contenido web.
                        .flex-shrink-0
                            span.text-primary 2008 - 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 D.W - PINEDA DE MAR, BARCELONA
                            .subheading.mb-3 GERENTE
                            p
                                | Acondicionamiento de local para tienda de ropa de gama alta, establecimiento y ejecución diaria del negocio, pedidos, showrooms. Organización y coordinación de desfile benéfico bi-anual.
                        .flex-shrink-0
                            span.text-primary  2005 - 2010

            hr.m-0

            // Education
            //-
                section#education.resume-section
                .resume-section-content
                    h2.mb-5 Educacion

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 University of Colorado Boulder
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science - Web Development Track
                            p GPA: 3.23
                        .flex-shrink-0
                            span.text-primary August 2006 - May 2010

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 James Buchanan High School
                            .subheading.mb-3 Technology Magnet Program
                            p GPA: 3.56
                        .flex-shrink-0
                            span.text-primary August 2002 - May 2006

            hr.m-0
        
            // Habilidades
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Habilidades
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Caracter
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Activa, sociable y dinámica. Confortable trabajando en equipo y por mi cuenta.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Resolutiva. Disfruto adquiriendo y aplicando nuevos conocimientos.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Polivalente. Capacitada para afrontar tanto aspectos técnicos como la atención al cliente.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Soy alegre por naturaleza.

            hr.m-0

            // Intereses
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Intereses
                    p
                        | Aprendiz de web developer.
                    p.mb-0
                        | Me gusta aprender y descubrir cosas nuevas. La historia, la ciencia, la mecanica, un buen vino en compañia de amigos.
                        | En mi tiempo libre suelo nadar, leer e ir a la playa, ya que vivo muy cerquita, es algo que disfruto mucho!
            hr.m-0

            //- Premios
                section#awards.resume-section
                    .resume-section-content
                        h2.mb-5 Premios
                        ul.fa-ul.mb-0
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Google Analytics Certified Developer
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | Mobile Web Specialist - Google Certification
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 1
                                sup st 
                                | Place - University of Colorado Boulder - Emerging Tech Competition 2009
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 1
                                sup st 
                                | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 2
                                sup nd 
                                | Place - University of Colorado Boulder - Emerging Tech Competition 2008
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 1
                                sup st 
                                | Place - James Buchanan High School - Hackathon 2006
                            li
                                span.fa-li
                                    i.fas.fa-trophy.text-warning
                                | 3
                                sup rd 
                                | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')